form{
    text-align: center;
    border: 5px solid;
    border-radius: 10px;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 23px;
    padding-bottom: 5px;
    line-height: 50px;
}

h1{
    text-align: center;
    font-size: 300%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

label{
    font-size: 150%;
}